
/*
Free Bootstrap Themes : http://www.Html5xCss3.com
*/

/* ==== Google font ==== */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=GFS+Didot"|Didot); 
@import url('http://fonts.googleapis.com/css?family=PT+Sans:700'|Pacifico|Changa+One);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

@import url("https://fonts.googleapis.com/css?family=GFS+Didot");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");


body {
  background-color: #eee;
  background-blend-mode: hard-light;
  font-size: 10pt;
  font-family: 'GFS Didot', serif;
}

a {
  color: #00b6e3;
  font-weight: 700;
  text-decoration: none;
}

#header {
  position: relative;
  width: 100%;
  height: 130px;
  background: #fff;
  display: table;
}
#header h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 30pt;
  font-family: 'GFS Didot', serif;
  color: #000;
  font-weight: 600;
  text-align: center;
}

#navigation {
  position: relative;
  width: 100%;
  height: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
}
#navigation ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#navigation ul li a {
  font-family: 'GFS Didot', serif;
  color: #000;
  height: inherit;
  padding: 0 30px;
  display: inline-block;
  transition: all 150ms ease;
  line-height: inherit;
}
#navigation ul li a:active {
  color: #A4DEFB;
}
#navigation ul li a:hover {
  color: #d80000;
}
#navigation.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#container {
  min-height: 300%;
  font-size: 20px;
}

