/*
Free Bootstrap Themes : http://www.Html5xCss3.com
*/

/* ==== Google font ==== */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=GFS+Didot"|Didot); 
@import url('http://fonts.googleapis.com/css?family=PT+Sans:700'|Pacifico|Changa+One);
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

@import url("https://fonts.googleapis.com/css?family=GFS+Didot");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");


body {
  background-color: #eee;
  background-blend-mode: hard-light;
  font-size: 10pt;
  font-family: 'GFS Didot', serif;
}

a {
  color: #00b6e3;
  font-weight: 700;
  text-decoration: none;
}

#header {
  position: relative;
  width: 100%;
  height: 130px;
  background: #fff;
  display: table;
}
#header h1 {
  display: table-cell;
  vertical-align: middle;
  font-size: 30pt;
  font-family: 'GFS Didot', serif;
  color: #000;
  font-weight: 600;
  text-align: center;
}

#navigation {
  position: relative;
  width: 100%;
  height: 50px;
  background: #fff;
  text-align: center;
  line-height: 50px;
}
#navigation ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#navigation ul li a {
  font-family: 'GFS Didot', serif;
  color: #000;
  height: inherit;
  padding: 0 30px;
  display: inline-block;
  transition: all 150ms ease;
  line-height: inherit;
}
#navigation ul li a:active {
  color: #A4DEFB;
}
#navigation ul li a:hover {
  color: #d80000;
}
#navigation.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#container {
  min-height: 300%;
  font-size: 20px;
}


img {
  display: block;
  vertical-align: middle;
  width: 100%;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

img:hover {
  opacity: 0.75;
}

.gallery ul li {
  padding-bottom: 1em;
}

.item {
  max-width: 50%;
  float: left;
  margin-bottom: 1em;
  display: block;
}

.item:nth-of-type(2n+1) {
  clear: left;
}

.gallery {
  grid-area: gallery;
}

.gallery ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 1em;
}


.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery ul li {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 calc(50% - 1em);
  flex: 0 1 calc(50% - 1em);
  -ms-flex-preferred-size: calc(50% - 1em);
  flex-basis: calc(50% - 1em);
}

@media (max-width: 824px) {

  .gallery ul {
    grid-template-columns: 100%;
  }

  .gallery ul li {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }

  .item {
    max-width: 100%;
    float: none;
  }
}




