
/* ==== Google font ==== */
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Muli:300|Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou');
@import url('https://fonts.googleapis.com/css?family=Quicksand:300');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body {
  width: 100%;
  height: auto;
  margin: 0;
  font-family : "Open Sans";
}

section {
  width: 80%;
  height: auto;
  margin-left:10%;
  margin-right: 4%;
  margin-top: 3%;
  /*border-bottom-style: solid;
  border-bottom-color: rgba(145, 145, 145, 0.2);
  border-bottom-width: 1px;*/
}

#section-line {
  width: 90%;
  height: 1px;
  background-color: #ececec;
  border: 0 none;
}

#within-section-line {
  width: 100%;
  height: 1px;
  background-color: #ececec;
  border: 0 none;
}

.menu-icon {
  z-index: 2;
  position: relative;
  display: block;
  width: 30px;
  height: 5px;
  cursor: pointer;
  margin-left: 30px;
  margin-top: 40px;
  float: none;
  -webkit-transition: all 0.3s;
	        transition: all 0.3s;
}

.menu-icon > span {
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #e74c3c;
  border-radius: 4px;
}

.menu-icon > span:before,
.menu-icon > span:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #e74c3c;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
	        transition: all 0.3s;
}

.menu-icon > span:before {
  -webkit-transform: translateY(-7px);
	        transform: translateY(-7px);
}

.menu-icon > span:after {
  -webkit-transform: translateY(7px);
	        transform: translateY(7px);
}

/* OPENED */

.menu-icon.open {
  -webkit-transform: rotate(45deg);
	        transform: rotate(45deg);
}

.menu-icon.open > span:before {
  -webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.menu-icon.open > span:after {
  -webkit-transform: rotate(90deg);
	        transform: rotate(90deg);
}

.menu-icon.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  height: auto;
}


#navigation {
  display: block;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#horizontal-list {
  margin-top: 15%;
  opacity: 0.2;
}

.nav__list-item {
  margin-left: 10%;
  margin-top: 10px;
  text-decoration: none;
  font-size: 14px;
  display: block;
  transition: 0.3s;
  cursor: pointer;
}

nav > ul > hr {
width: 75%;
height: 1px;
margin-left: 10px;
margin-right: 10px;
background-color: #ececec;
border: 0 none;
margin-top: 30px;
margin-bottom: 20px;
}

#list1Link, #list2Link, #list3Link  {
  margin-left: 10%;
  margin-bottom: 5%;
  font-size: 15px;
  font-weight: 600;
}

/* intro */
#intro {
  margin-top: 300px;
  margin-left: 20%;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  height: 900px;
}

#second_line {
  font-size: 25px;
  margin-bottom: 320px;
  display: block;
}

#charis {
  cursor: pointer;
  display:none;
  width: 50%;
  height: auto;
  margin-left: 40%;
}


#hover-text {
  text-align: right;
  margin-right: 20%;
}

/* works */
#opico-apple, #opico-android{
  width: 100px;
  height: auto;
  margin-right: 10px;
}

h1 {
  margin-bottom: 50px;
  margin-top: 10px;
  cursor: pointer;
}

h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0;
}

#opico-main {
    width: 40%;
    height: auto;
}

.preview-text > .logo {
  width: 80px;
  height: auto;
  cursor: pointer;
}

#split-logo {
  width: 50px;
  height: auto;
}


.preview {
  width: 100%;
  display: flex;
  margin-bottom: 150px;
  overflow:auto;
}


.preview-text {
  margin-top: 8%;
  flex: 40%;
}

.preview-image {
  border: 0;
  margin-top: 5%;
  flex: 50%;
  width: 50%;
  height: 50%;
  padding-right: 5%;
  cursor: pointer;
}

#opico-main-image {
  border: 0;
  margin-top: 5%;
  margin-right: 5%;
  flex: 35%;
  width: 35%;
  height: 35%;
  padding-left: 10%;
  cursor: pointer;
}

#main-page video {
  margin-top: 5%;
  flex: 50%;
  width: 50%;
  height: 50%;
  padding-right: 5%;
  cursor: pointer;

}

.preview-image:hover, .preview-title:hover {
  opacity: 0.6;
}

.preview-text > p {
    margin-bottom: 30px;
    margin-top: 5px;
    font-weight: 300;
}

#dribbble-gif {
  width:150px;
  height: auto;
}


/* about */

#about {
  margin-bottom: 12%;
}

.profile-content {
  display: block;
  margin-top: 5%;
  margin-left: 5%;
  height: auto;
}

#profile-text {
  font-family : "Open Sans";
  font-size: 16px;
  padding-right: 5%;
  text-align: left;
  line-height: 25px;
  display: block;
  font-weight: 400;
}

#profile-photo {

  width: 20%;
  height: auto;
  padding-right: 5%;
}

h {
  display: block;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  text-align: right;
  padding-right: 10%;
}


/* opico.html & general css for all project pages */

#opico-page {
  font-family : "Open Sans";
}

.body-text {
  font-family : "Open Sans";
  font-size: 16px;
  font-weight: 300;
  display: block;
  margin-bottom: 30px;
  margin-top: 15px;
}

.subtitle {
  font-family : "Open Sans";
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-top: 25px;
}


#balsamiq {
  width: 100%;
  height: auto;
  margin-top: 5%;
}

#postflow_redesign {
  width: 100%;
  height: auto;
  margin-top: 5%;
  margin-bottom: 3%;
}

.subproject {
  width: 60%;
  height: auto;
  margin-left: 20%;
  margin-top: 4%;
  margin-bottom: 6%;
}

.title {
  margin-top: 6%;
  font-size: 30px;
  margin-bottom: 0;
}

.subheadtitle {
  font-size: 20px;
  margin-top: 0;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 30px;
}

.head-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 50%;

}

.subtitle1 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
}

#opico-page video {
  width: 80%;
  height: 80%;
  margin-left: 10%;
}

.image-gallery {
  margin-top: 10%;
}

.gallery-image {
  float: left;
  width: 46%;
  margin: 2%;
}

.row:after, .two-columns {
  content: "";
  clear: both;
  display: table;
}

#painpoints, #designsolutions {
  float: left;
  width: 40%;
  margin-left: 10%;
  font-size: 14px;
  margin-top: 4%;
}

#mail, #phone {
  width: 30px;
  background-color: #e74c3c;
}

.info span {
  font-size: 17px;
  font-weight: 400;
}

#contact-bottom {
  margin-bottom: 20%;
}

#contact-content {
  width: 100%;
  margin-left: 10%;
}

#dribbble-page video {
  width: 95%;
  margin-bottom: 5%;
}

#dribbble-mockups {
  width: 100%;
  margin-bottom: 5%;
}

.meme {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

/*responsive web*/
@media screen and (max-width: 650px) {
  h {
    font-size: 30px;
    margin-left: 10%;
  }

  .preview {
    width: 100%;
    display: block;
    margin-bottom: 150px;
    overflow:auto;
  }


  .preview-text {
    margin-top: 8%;
    padding-left: 5%;
  }

  .preview-image {
    border: 0;
    margin-top: 5%;
    width: 90%;
    height: 90%;
    padding-left: 5%;
    cursor: pointer;
  }

  .profile-content {
    margin-top: 5%;
    margin-left: 10%;
    height: auto;
  }

  #profile-photo {

    width: 50%;
    height: auto;
    padding-left: 20%;

    align: center;
  }

  #profile-text {
    display: inline-block;
    font-family : "Open Sans";
    font-size: 14px;
    padding-right: 5%;
    text-align: left;
    line-height: 25px;
    font-weight: 400;
  }

  #main-page video {
    margin-top: 5%;
    margin-left: 10%;
    width: 85%;
    height: 85%;
    cursor: pointer;
  }
}
